<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/frameworks/css/bootstrap.min.css') }}">
    <script src="{{ asset('bundles/frameworks/javascript/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/frameworks/javascript/bootstrap.min.js') }}"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<style>

#view_height {
    height: 100vh;
    }

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    }

#nav_bar {
    background: #505050;
    padding: 15px;
    }

#nav_bar li a {
    color: white;
    font: 18px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
    }

#nav_bar a:hover {
    color: #0CA0C6;
    }

#golf_tracker {
    color: white;
    font-size: 35px;
    font-family: 'Lobster', cursive;
    padding-top: 15px;
    }

#banner {
    width: 100%;
    position: fixed;
}

#golf_photo {
    width: 90vw;
    height: 100vh;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

#content {
    margin: auto;
    position: relative;
    top: 100vh;
    color: #505050;
    width: 90vw;
    border: 1px solid #fff;
    border-radius: 1px;
    background: #f6f6f6;
    box-shadow: 0 0 2px rgba(50,50,50,0.5);
    font: 15px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
    padding: 5px;
    text-align: center;
    }

#content p {
    text-align: left;
    }

#content_symbols {
    font-size: 25px;
    color: #0CA0C6;
    }

.content_headings {
    font-size: 30px;
    margin-top: 25px;
    }

#get_started {
    margin-top: 45vh;
    margin-left: 30vw;
    position: fixed;
    color: white;
    font-family: 'Lobster', cursive;
    text-align: center;
    }

#golf_tracking {
    font-size: 40px;
}

#get_started_button {
    font: 25px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 25px white;
    -o-box-shadow: 0 0 25px white;
    -moz-box-shadow: 0 0 25px white;
    -webkit-box-shadow: 0 0 25px white;
    -ms-box-shadow: 0 0 25px white;
    background: #0CA0C6;
    }

.whitespace {
    top: 100vh;
    position: relative;
    width: 100%;
    height: 110px;
    background: white;
    }

#features {
    margin: auto;
    position: relative;
    top: 100vh;
    color: #505050;
    width: 90vw;
    border: 1px solid #fff;
    border-radius: 1px;
    background: #f6f6f6;
    box-shadow: 0 0 2px rgba(50,50,50,0.5);
    font: 15px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
    padding: 5px;
    text-align: center;
    }

#features div h1 {
    font: 15px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
    }

#features_symbols {
    font-size: 25px;
    color: #0CA0C6;
    }

#footer {
    top: 100vh;
    position: relative;
    width: 100%;
    height: 100px;
    background: #505050;
    border-radius: 1px;
    }

#footer a {
    text-align: center;
    color: white;
    font: 18px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
    }

#footer a:hover {
    color: #0CA0C6;
    text-decoration: none;
    }

#footer_table {
    margin: auto;
    }

#footer_table td {
    padding: 30px 10px 0px 10px;
    }

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.8;
    z-index: 1000;
    display: none;
    }

.table {
        text-align: center;
        margin: 0 auto;
        font: 15px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
        color: #505050;
        border-radius: 5px;
         z-index: 1500;
        box-shadow: 0 0 25px white;
        -o-box-shadow: 0 0 25px white;
        -moz-box-shadow: 0 0 25px white;
        -webkit-box-shadow: 0 0 25px white;
        -ms-box-shadow: 0 0 25px white;
        background: #0CA0C6;
        }

.table tbody tr td {
        border-top: none; }

#overlay_signIn_form {
        width: 30vw;
        height: 45vh;
        margin: 0 auto;
        position: absolute;
        top: 5vh;
        left: 35vw;
        display: none;
        z-index: 1500;
    }

#overlay_forgot_form {
        width: 30vw;
        height: 30vh;
        margin: 0 auto;
        position: absolute;
        top: 55vh;
        left: 35vw;
        z-index: 1500;
        display: none;
        border-radius: 5px;
    }

#forgot_table {
        text-align: center;
        margin: 0 auto;
        font: 15px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
        color: #505050;
        border-radius: 5px;
        box-shadow: 0 0 25px white;
        -o-box-shadow: 0 0 25px white;
        -moz-box-shadow: 0 0 25px white;
        -webkit-box-shadow: 0 0 25px white;
        -ms-box-shadow: 0 0 25px white;
        background: #0CA0C6;
        }

#overlay_register_form {
        width: 30vw;
        height: 47vh;
        margin: 0 auto;
        position: absolute;
        top: 5vh;
        left: 35vw;
        z-index: 1500;
        display: none;
        border-radius: 5px;
    }

.overlay_exit_button {
        width: 30px;
        line-height: 30px;
        background: #505050;
        color: white;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0 0 25px white;
        -o-box-shadow: 0 0 25px white;
        -moz-box-shadow: 0 0 25px white;
        -webkit-box-shadow: 0 0 25px white;
        -ms-box-shadow: 0 0 25px white;
        display: none;
        position: absolute;
        top: -10px;
        right: -10px;
    }

#overlay_contact_form {
        width: 30vw;
        margin: 0 auto;
        position: absolute;
        top: 5vh;
        left: 35vw;
        z-index: 1500;
        display: none;
    }

.logIn {
        font-size: 50px;
        font-family: 'Lobster', cursive;
        text-shadow: 0 0 50px white;
        -o-text-shadow: 0 0 50px white;
        -moz-text-shadow: 0 0 50px white;
        -webkit-text-shadow: 0 0 50px white;
        -ms-text-shadow: 0 0 50px white;
    }

#submit {
    background: white;
    border-radius: 5px;
    }

#forgot {
    position: relative;
    font: 15px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
    color: white;
    text-decoration: none;
    }

.temp_password {
    color: white;
    }

#email {
    color: #505050;
    }

.fc_success_font {
        color: #0CA0C6;
        text-align: center;
        font-size: 40px;
        font-family: 'Lobster', cursive;
        text-shadow: 0 0 50px white;
        -o-text-shadow: 0 0 50px white;
        -moz-text-shadow: 0 0 50px white;
        -webkit-text-shadow: 0 0 50px white;
        -ms-text-shadow: 0 0 50px white;
    }

#forgot_credentials_success {
        width: 30vw;
        height: 5vh;
        margin: 0 auto;
        position: absolute;
        top: 55vh;
        left: 35vw;
        z-index: 1500;
        display: none;
    }

#register_form_credentials {
        width: 30vw;
        height: 5vh;
        margin: 0 auto;
        position: absolute;
        top: 58vh;
        left: 35vw;
        z-index: 1500;
        display: none;
    }

@media screen and (min-width: 1600px){

#overlay_forgot_form {
        top: 45vh;
}
}

@media screen and (min-width: 769px) and (max-width: 1100px) {

#get_started {
    margin-top: 45vh;
    margin-left: 20vw;
    }

#overlay_forgot_form {
   top: 40vw;
}

#overlay_contact_form {
	width: 40vw;
	height: 20vh;
	left: 30vw;
}

}

@media screen and (max-width: 768px){

#golf_tracker {
    font-size: 25px;
}

#golf_photo {
    margin-top: 10vh;
    height: 45vh;
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
    }

#get_started {
    margin-top: 65vh;
    margin-left: 1vw;
    color: #0CA0C6;
    }

#get_started_button {
    margin-top: 5vh;
    font: 25px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
    }

#content {
    width: 100vw;
    }

#features {
    width: 100vw;
    }

#overlay_signIn_form {
        width: 80vw;
        top: 5vh;
        left: 10vw;
    }

#overlay_forgot_form {
        width: 80vw;
        top: 55vh;
        left: 10vw;
    }

#overlay_register_form {
        width: 80vw;
        top: 5vh;
        left: 10vw;
    }

#overlay_contact_form {
	width: 80vw;
        left: 10vw;
    }

#forgot_table {
        font: 15px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
    }

.table {
        font: 15px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
    }

.logIn {
        font-size: 40px;
    }

#forgot_credentials_success {
       width: 100vw;
       top: 50vh;
       left: 0vw;
    }

#register_form_credentials {
       width: 100vw;
       top: 50vh;
       left: 0vw;
    }

}

</style>

<title>G.T.Solutions</title>

</head>

<body>
<div id="overlay"></div>

<div id="overlay_signIn_form">
    <div class="overlay_exit_button">X</div>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <h1 class="logIn">SignIn</h1>
                    <form id="signIn_form" action="{{ path('login_check') }}" method="POST">
                        Username:<br>
                        <input type="text" name="_username" id="signin_username">
                        <br>
                        Password:<br>
                        <input type="password" name="_password" id="signin_password">
                        <br><br>
                        <input id="submit" type="submit" value="Submit">
                    </form>
                </td>
            </tr>
	    <tr>
		<td>
			<div><a href="#" id="forgot">Forgot Username or Password?</a></div>
		</td>
		</tr>
        </tbody>
    </table>
</div>

<div id="overlay_register_form">
    <div class="overlay_exit_button">X</div>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <h1 class="logIn">Register</h1>
                    <form id="register_form" action="{{ path('register') }}" method="POST">
                        New Username:<br>
                        <input type="text" name="_username" id="username">
                        <br>
                        New Password:<br>
                        <input type="password" name="_password" id="password">
                        <br>
                        Email:<br>
                        <input type="email" name="_email" id="email_register">
                        <br><br>
                        <input id="submit" type="submit" value="Submit">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="overlay_forgot_form">
    <table id="forgot_table">
        <tbody>
            <tr>
                <td>
                    <form id="forgot_credentials" action="{{ path('forgot_user_credentials') }}" method="POST">
			Enter email:<br>
                        <input type="email" name="email" id="email">
                        <br><br>
                        <div class="temp_password">For security purposes, you will be assigned a temporary password.</div>
                        <br>
                        <input id="submit" type="submit" value="Retrieve">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="forgot_credentials_success">
	<h1 class="fc_success_font"></h1>
</div>

<div id="register_form_credentials">
	<h1 class="fc_success_font"></h1>
</div>

<div id="overlay_contact_form">
    <div class="overlay_exit_button">X</div>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <h1 class="logIn">Contact Us</h1>
                    <form method="POST">
                        <div class="temp_password">Email: tim.zabawa@golftrackersolutions.com</div><br>
                        <br>
                    </form>
                </td>
		    </tr>
        </tbody>
    </table>
</div>

<div id="container">

<header>
<nav id="nav_bar" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="golf_tracker" class="navbar-brand" href="#"><b>G</b>olf<b>T</b>racker<b>S</b>olutions</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a id="point_1" href="#">How It Works</a></li>
        <li><a id="point_2" href="#">Features</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a id="sign_in" href="#">Sign In</a></li>
        <li><a id="register" href="#">Register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>


<div id="banner">
   <img id="golf_photo" src="{{ asset('bundles/frameworks/photos/rootpage_photo.jpg') }}"/>
</div>

<table id="get_started">
    <tr>
        <td>
            <h1 id="golf_tracking">Golf Tracking Made Simple</h1>
        </td>
    </tr>
    <tr>
        <td>
            <button id="get_started_button" type="button" class="btn btn-info">Get Started</button>
        </td>
    </tr>
</table>

<div id="1" class="whitespace"></div>

<div id="content">
    <h1>How It Works</h1>
    <div class="row Grid1">
        <div class="col-xs-12 col-md-3">
            <h1 class="content_headings">Get started.</h1>
            <span id="content_symbols" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            <p>After you register an account, you will be redirected to your home page.</p>
            <p>Search for the following:</p>
            <p>1). A display block providing your golf average.</p>
            <p>2). 5 scorecards providing the course you played at. the date, and the scores you recorded.</p>
            <p>3). A navigation bar field for entering a new score.</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <h1 class="content_headings">Enter score.</h1>
            <span id="content_symbols" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <p>Upon clicking on the appropriate field to enter a new score, yuu will see an empty scorecard.</p>
            <p>Here you will be able to enter your round. Fill out the following fields:</p>
            <p>1). The golf course name (just the name).</p>
            <p>2). The date on which you played.</p>
            <p>3). The par of each hole.</p>
            <p>4). The score you shot on each hole.</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <h1 class="content_headings">View Results.</h1>
            <span id="content_symbols" class="glyphicon glyphicon-signal" aria-hidden="true"></span>
            <p>Once you have entered a new score, you will be taken back to your home page.</p>
            <p>Notice that your golf average and first scorecard have been automatically updated.</p>
            <p>1). GolfTrackerSolutions will automatically update your total golf average.</p>
            <p>2). GolfTrackerSolutions will display the 5 latest scorecards you have entered.</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <h1 class="content_headings">Have fun.</h1>
            <span id="content_symbols" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <p>The goal of GolfTrackerSolutions is to provide an easy way for an average golfer to keep track of their golf average.</p>
            <p>We take care of all of the calculating. All you have to fill out your scorecards.</p>
            <p>Good luck and have fun!</p>
        </div>
    </div>
</div>

<div class="whitespace"></div>

<div id="features">
<h1 id="features_heading">Features</h1>
<div class="row Grid1">
        <div class="col-xs-12 col-md-6">
            <span id="features_symbols" class="glyphicon glyphicon-signal" aria-hidden="true"></span>
            <h1>Automated tracking of your golf average.</h1>
        </div>
        <div class="col-xs-12 col-md-6">
            <span id="features_symbols" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            <h1>5 most recent golf courses you played at and the scores you recorded.</h1>
        </div>
</div>
</div>

<div id="2" class="whitespace"></div>

<footer>
    <div id="footer">
        <table id="footer_table">
            <tr>
                <td>
                    <a id="contact" href="#">Contact Us</a>
                </td>
            </tr>
        </table>
    </div>
</footer>

</div>
</body>

<script type="text/javascript">

$(function() {

    $("#point_1").on("click", function() {
    $("body,html").animate({"scrollTop":$("#1").offset().top}, 1000);
    return false;
    });

    $("#point_2").on("click", function() {
    $("body,html").animate({"scrollTop":$("#2").offset().top}, 1000);
    return false;
    });

    $("#golf_tracker").on("click", function() {
    $("body,html").animate({"scrollTop":0}, 1000);
    return false;
    });

    $("#sign_in").on("click", function () {
    $("#overlay").fadeIn("slow");
    $("#overlay_signIn_form").fadeIn("slow");
    $(".overlay_exit_button").fadeIn("slow");
    });

    $("#register").on("click", function () {
    $("#overlay").fadeIn("slow");
    $("#overlay_register_form").fadeIn("slow");
    $(".overlay_exit_button").fadeIn("slow");
    });

    $("#get_started_button").on("click", function () {
    $("#overlay").fadeIn("slow");
    $("#overlay_register_form").fadeIn("slow");
    $(".overlay_exit_button").fadeIn("slow");
    });

    $("#forgot").on("click", function () {
    $("#overlay_forgot_form").fadeIn("slow");
    $("#overlay_forgot_exit_button").fadeIn("slow");
    $("#forgot_credentials_success").fadeOut("fast");
    });

    $(".overlay_exit_button").on("click", function () {
    $("#overlay").fadeOut("fast");
    $("#overlay_signIn_form").fadeOut("fast");
    $("#overlay_forgot_form").fadeOut("fast");
    $("#overlay_register_form").fadeOut("fast");
    $("#register_form_credentials").fadeOut("fast");
    $("#overlay_contact_form").fadeOut("fast");
    $("#forgot_credentials_success").fadeOut("fast");
    $(".overlay_exit_button").fadeOut("fast");
    });

    $("#contact").on("click", function () {
    $("#overlay").fadeIn("slow");
    $("#overlay_contact_form").fadeIn("slow");
    $(".overlay_exit_button").fadeIn("slow");
    });

    $("#forgot_credentials").submit(function(){
      //get the url for the form
      var url=$("#forgot_credentials").attr("action");
      $.post(url,{
           email:$("#email").val(),
       },function(data){
           if(data.responseCode==200 && data.success==2 ){
                $('#forgot_credentials_success h1').text('Success');
                $('#forgot_credentials_success h1').css('color', '#0CA0C6');
                $("#overlay_forgot_form").fadeOut('fast');
                $("#forgot_credentials_success").delay(2000).fadeIn('slow');
            }
           else if(data.responseCode==200 && data.success==1 ){
                $('#forgot_credentials_success h1').text('Your email address was not found, please try again!');
                $('#forgot_credentials_success h1').css('color', 'red');
                $("#overlay_forgot_form").fadeOut('fast');
                $("#forgot_credentials_success").delay(2000).fadeIn('slow');
           }
           else if(data.responseCode==400){//bad request
                $('#forgot_credentials_success h1').text('Please enter an email');
                $('#forgot_credentials_success h1').css('color', 'red');
                $("#overlay_forgot_form").fadeOut('fast');
                $("#forgot_credentials_success").delay(2000).fadeIn('slow');
           }
           else{
               alert("An unexpeded error occured.");
           }
       });
       return false;
    });

    $("#register_form").submit(function(){
      //get the url for the form
      var url=$("#register_form").attr("action");
      $.post(url,{
           _password:$("#password").val(), _username:$("#username").val(), _email:$("#email_register").val()
       },function(data){
           if(data.responseCode==200 ){
                $('#register_form_credentials h1').text('Username or email taken, please try again!');
                $('#register_form_credentials h1').css('color', 'red');
                $('#register_form_credentials').fadeIn('slow');
           }
           else if(data.responseCode==400){//bad request
                $('#register_form_credentials h1').text('Please fill out all form fields!');
                $('#register_form_credentials h1').css('color', 'red');
                $("#register_form_credentials").fadeIn("slow");
           }
           else if(data.responseCode==300){//bad request
                window.location.href = data.url;
           }
           else{
               alert("An unexpeded error occured.");
           }
       });
       return false;

    });

    $("#signIn_form").submit(function(){
      //get the url for the form
      var url=$("#signIn_form").attr("action");
      $.post(url,{
           _password:$("#signin_password").val(), _username:$("#signin_username").val()
       },function(data){
           if(data.responseCode==200 ){
                window.location.href = data.url;
           }
           else if(data.responseCode==300){//bad request
                $('#register_form_credentials h1').text('Username or password entered incorrectly, please try again!');
                $('#register_form_credentials h1').css('color', 'red');
                $('#register_form_credentials').fadeIn('slow');
           }
           else{
               alert("An unexpeded error occured.");
           }
       });
       return false;

    });

});

</script>


</html>



